@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: blue; 
    color: red;
    min-height: 100vh;
    flex: 1 0 auto;
}

.game-play-area {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    min-height: 90vh;
    flex: 1 0 auto;
    outline: 0.5rem;
    outline-color: red;
    outline-style: dotted;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color:whitesmoke; 
    font-family: 'orbitron', sans-serif;
}

/*.icon-title-area {
    display: flex;
    padding: 1%;
    margin: 1%;
}*/

.fa-bars {
    display: flex;
    padding: right 2px; /*padding not taking effect*/
}


/*.welcome-message {
    display: flex;
    flex-direction: column;
    
    letter-spacing:0.4em;
    outline: auto;
    outline-color: aliceblue;
    outline-style: dotted;
}*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'orbitron', sans-serif;
    letter-spacing:0.1em;
    padding: 1%;
    background-color:inherit;
    color: inherit;
}




/*Commented out old code from YT tutorial as out of date and some bad practices*/
/*Code based on you tube tutorial by Kenny Yip Coding. Link in ReadMe.*/
/*body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /*aligns text and images to center of screen, decide if needed / change for desktop*/
    /*background-color: cyan;
}

#computer-choice {
    width: 240px; /*These are absolute values and need to be changed to % for responsiveness*/ 
    /*height: 240px;/*These are absolute values and need to be changed to % for responsiveness*/
    /*background-color: red; /*random colors for the moment to identify*/
    /*margin-top: 10px; /*puts space between text of score and image*//*These are absolute values and need to be changed to % for responsiveness*/ 
/*}

#my-choice { 
    width: 240px; /*These are absolute values and need to be changed to % for responsiveness*/ 
    /*height: 240px;/*These are absolute values and need to be changed to % for responsiveness*/
    /*background-color: yellow; /*random colors for the moment to identify*/
    /*margin-top: 10px; /*puts space between text of score and image*//*These are absolute values and need to be changed to % for responsiveness*/ 
/*}

#choices {
    width: 240px; /*These are absolute values and need to be changed to % for responsiveness*/
    /*height: 80px; /*These are absolute values and need to be changed to % for responsiveness*/
    /*background-color: green; /*random colors for the moment to identify*/
    /*margin:0 auto; 
    margin-top: 10px; /*These are absolute values and need to be changed to % for responsiveness*/
/*}

#choices img {
    width: 80px; /*These are absolute values and need to be changed to % for responsiveness*/
    /*height: 80px; /*These are absolute values and need to be changed to % for responsiveness*/
    
/*}

